{% load static %}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'product/assets/css/style-starter.css' %}">
  <link rel="stylesheet" href="{% static 'product/asset/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'product/asset/css/styles.css' %}">
  <!-- Template CSS -->
  <link href="//fonts.googleapis.com/css?family=Oswald:300,400,500,600&display=swasssp" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900&display=swap" rel="stylesheet">
  <!-- Template CSS -->


